* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height:100%;
  background-color: darkslategray;
}

body {
  margin: 0;
  padding: 30px;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: darkslategray;
  
}

#map { height: 360px; }

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
  
}

.columns form {
    display: flex;
    flex-direction: column;
}

.wrapper {
  display: flex;
}

.container {
  margin-top: 25px;
  justify-content: space-around;
  display: flex;
  
}

.header {
    display:block;
    padding: 15px;
    border-radius: 4px;
    background-color: hsl(44, 100%, 77%);
    margin-top: 25px;

}


.page_item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 4px;
  background-color: rgb(221, 225, 226);
  height: fit-content;
  margin: 20px;
}

.page_item_wide {
  width: 640px;
}

.form_item {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px;
    width: 250px;
}

.button {
  background-color: #7ec9ac;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}